<!-- Product List -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="title-section text-center py-5 mb-0 ng-cloak">
        Productos {{productInformation?.title}}
      </h2>
    </div>
  </div>
  <!-- Loading -->
  <div class="row" *ngIf="loadingRelatedProducts">
    <div class="col-12 text-center">
      <img ng-src="./assets/img/loader.gif"/>
      <small>Cargando productos...</small>
    </div>
  </div>
  <!-- Comentario de prueba -->

  <!-- Box Products -->
  <section class="box-product mb-2">
    <div class="row">
      <div class="col-6 col-lg-3 mb-3" *ngFor="let item of items">
        <!-- Component: Box Products -->
        <app-box-product [product]="item"></app-box-product>
      </div>
    </div>
  </section>
</div>
