<div class="quantity">
  <!-- Minus Button -->
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="minimumAvailable() || (updatingQuantity && updatingQuantityIdItem == idItem)"
    (click)="minusQuantity()">
    <i class="fas fa-minus"></i>
  </button>
  <!-- Input -->
  <input
    #inputNumber
    appOnlyNumbers
    *ngIf="!updatingQuantity || updatingQuantityIdItem != idItem"
    type="text"
    class="form-control"
    [formControl]="inputQuantityControl">
  <!-- Plus Button -->
  <button
    type="button"
    class="btn btn-primary"
    (click)="plusQuantity()"
    [disabled]="updatingQuantity && updatingQuantityIdItem == idItem">
    <i class="fas fa-plus"></i>
  </button>
</div>