/*
Footer
-----------------------------------------*/

@import "../../variables";

.footer {
  .container {
    h5{
      &:after {
        content: '';
        position: relative;
        display: block;
        width: 12%;
        background: white;
        height: 2px;
      }
    }
    .list-unstyled {
      a {
        color: $white;
        &:hover {
          color: $gray-100;
        }
      }
      .icon-footer {
        width: 15px;
      }
    }
  }
}
