// Body Color
$body-bg: white !default;
$body-color: #28323B !default;

// Customer Colors
$primary: #1031a7 !default;
$secondary: #2d71ea !default;

// Default Colors
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// Social Colors
$colores-social: (
  facebook: #3b5998,
  googleplus: #dd4b39,
  instagram: #D62976,
  linkedin: #007bb6,
  pinterest: #cb2027,
  twitter: #00aced,
  youtube: #b00,
  soundcloud: #f60,
  whatsapp: #25d366,
);

//Gray Colors
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
    (
      "gray-100": $gray-100,
      "gray-200": $gray-200,
      "gray-300": $gray-300,
      "gray-400": $gray-400,
      "gray-500": $gray-500,
      "gray-600": $gray-600,
      "gray-700": $gray-700,
      "gray-800": $gray-800,
      "gray-900": $gray-900
    ),
    $grays
);

// System Color Theme
$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
    (
      "blue": $blue,
      "indigo": $indigo,
      "purple": $purple,
      "pink": $pink,
      "red": $red,
      "orange": $orange,
      "yellow": $yellow,
      "green": $green,
      "teal": $teal,
      "cyan": $cyan,
      "white": $white,
      "gray": $gray-600,
      "gray-dark": $gray-800,
      "text": $body-color
    ),
    $colors
);

$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: #F5F5F5 !default;
$dark: $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
    (
      "primary": $primary,
      "secondary": $secondary,
      "success": $success,
      "info": $info,
      "warning": $warning,
      "danger": $danger,
      "light": $light,
      "dark": $dark,
      "text": $body-color
    ),
    $theme-colors
);

// Install Google Fonts
$font-url-google: 'https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900';
@import url($font-url-google);

// Customer Fonts
$font-family-base: 'Poppins', Helvetica, sans-serif !default;
$font-family-title: 'Poppins', Helvetica, sans-serif !default;

$font-size-base: .875rem !default;
$small-font-size: 90% !default;

.font-size-base{
  font-size: 0.875rem;
}

// Badges

$badge-font-size: 90% !default;

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-title;
}
